<!DOCTYPE html>
<html>
  <head>
    <title>Kafka Topology Builder - UI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <div>
      <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
    <% if current_user %>
    <div>
      <%= link_to 'Admin', admin_path %>
      <%= link_to 'Projects', projects_path %>
    </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
